h1 {
  color: rgb(222, 31, 31);
}

div {
  background-color: lightgray;
  margin: 5px;
  padding: 5px;
  border: 2px solid darkblue;
  background-color: orange;
}

div + div {
  border-radius: 20px;
  border: 5px solid green;
  padding: 5px;
}

div ~ div {
  background-color: grey;
  border: 5px solid black;
  padding: 2%;
}

body > div:nth-child(2) {
  background-color: pink;
}

div + p {
  color:blue;
  background-color:orange;
  display:flex;
  justify-content:center;
}